<div class="header-container">
    <header class="wrapper clearfix">
        <h1 class="title">Погода в вашем городе <img ng-src="http://openweathermap.org/img/w/[[mi.weather[0].icon]].png"></h1>
    </header>
</div>

<div class="main-container">
	
    <div class="main wrapper clearfix">
    <div class="row">
    <div class="mainAside col-md-3 clearfix"><city-weather city="Saint Petersburg"></city-weather></div>
        <article>
            <header>
                <h1>{{title}}</h1>
                <p>Информация о текущей погоде [[misha.age]]</p>
                 <p></p>
                 <form ng-submit="findWeather(chosenCity)">
	                 <div class="input-group" >
	                 	<input type="text" class="form-control" placeholder="Введите город" ng-model="chosenCity">
	                 	<span class="input-group-btn">
		                 	<input class="btn btn-default" type="button" ng-click="findWeather(chosenCity)" value="Найти">
		                </span>
	                 </div>
                 <form>
            </header>
            <section>
         </article>
       <div class="col-md-9 col-sm-4   clearfix">
       		<city-weather ng-repeat="p in panels track by $index" city="[[p]]" class="newPanels"></city-weather>
       </div>
   </div>
         
         
        
         <!-- <article><city-weather></city-weather></article> -->
    </div> <!-- #main -->
</div> <!-- #main-container -->

<div class="footer-container">
    <footer class="wrapper">
        <h3>footer</h3>
    </footer>
</div>
