<div class="header-container">
    <header class="wrapper clearfix">
        <h1 class="title">Погода в вашем городе <img ng-src="http://openweathermap.org/img/w/[[mi.weather[0].icon]].png"></h1>
         <nav>
            <ul>
                <li class="hideIt"><a></a></li>
                <li ><a href="https://github.com/mikhailrojo/weatherApp"><img src="/img/github.png" width="40"></a></li>
                <li><a href="https://spb.hh.ru/resume/f47f6faeff03065f870039ed1f6e6e4844356d">Вернуться к резюме</a></li>
            </ul>
        </nav>
    </header>
</div>

<div class="main-container">
	
    <div class="main wrapper clearfix">
    <div class="row">
    <div class="mainAside col-md-3 clearfix"><city-weather city="Saint Petersburg"></city-weather></div>
        <article>
            <header>
                <h1>Текущая погода в городах России</h1>
                <p>Справа отображается погода определяемая по вашему ip адресу.</p>
                <p>В поле ввода вы можете ввести город(русскими или латинскими буквами), погоду  любого города России. Выбранные города сохраняться при следующем посещении сайта.</p>
                <p></p>
                 <form name="cityFindForm" ng-submit="findWeather(chosenCity)">
	                 <div class="input-group" >
	                 	<input type="text" class="form-control" placeholder="Введите город" ng-model="chosenCity" required minlength="3">
	                 	<span class="input-group-btn">
		                 	<input class="btn btn-default" type="button" ng-click="findWeather(chosenCity)" value="Найти" ng-disabled="cityFindForm.$invalid">
		                </span>
	                 </div>
                 <form>
            </header>
            <section>
         </article>
       <div class="col-md-9 col-sm-4   clearfix">
       		<city-weather ng-repeat="p in panels track by $index" city="[[p]]" class="newPanels"></city-weather>
       </div>
   </div>
         
         
        
         <!-- <article><city-weather></city-weather></article> -->
    </div> <!-- #main -->
</div> <!-- #main-container -->

<div class="footer-container">
    <footer class="wrapper">
        <h3>2016 <a class="copyright" href="https://spb.hh.ru/resume/f47f6faeff03065f870039ed1f6e6e4844356d"> &copy</a> Степанов Михаил</h3>
        <p>* Серверная часть:(Node + Express)/ Клиентская: Angular.js, каждый виджет - синглтон директива отображающаяся через ng-repeat.</p>
        <p>* Запрос погоды делается к сайту http://api.openweathermap.org через REST APIсервис Express. Результат запроса к каждому городу кешируются на 5 минут в $сookies.</p>
    </footer>
</div>
